@import '../Base/variables';
main {
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 600px;
    text-align: center;  
    h1::before {
        content: "¿EMPEZAMOS TUS CLASES DE INGLÉS?";
        font: $big-title;}
    h1:hover::before {
        content: "SHALL WE START STUDYING ENGLISH?";
        font: $big-title;}
    h3::before {
        content:"¡HOLA!";
        font: $small-title;}
    h3:hover::before {
        content: "HELLO!";
        font: $small-title;}
    }

@media only screen and (min-width:200px) and (max-width:549px) {
    main {
        h1::before {
            content: "¿EMPEZAMOS TUS CLASES DE INGLÉS?";
            font: $small-title;}
        h1:hover::before {
            content: "SHALL WE START STUDYING ENGLISH?";
            font: $small-title;}
        h3::before {
            content:"¡HOLA!";
            font: $smaller-title;}
        h3:hover::before {
            content: "HELLO!";
            font: $smaller-title;}        
    }
} 
