/*Fonts*/
$big-title: 200 2rem 'Poppins', sans-serif;
$small-title: 200 1.6rem 'Poppins', sans-serif;
$smaller-title: 200 1.4rem 'Poppins', sans-serif;
$big-subtitle: 400 1.8rem 'Poppins', sans-serif;
$small-subtitle: 400 1.5rem 'Poppins', sans-serif;
$big-h3: 400 1.3rem 'Poppins', sans-serif;
$big-h3: 400 1.1rem 'Poppins', sans-serif;
$big-p: 300 1.1rem 'Poppins', sans-serif;
$small-p: 300 0.9rem 'Poppins', sans-serif;

/*Transition*/
$transition: all 288ms ease;

/*Colors*/
@keyframes colores {
    0%{background:#A8B2CC;}
    25%{background:#576796;}
    50%{background:#2d344e;}
    75%{background:#576796;}
    100%{background:#A8B2CC;}}
 